.App {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: 100dvh;
}

.App>.input-section {
  width: calc(30% - 2rem);
  height: calc(100% - 2rem);
  max-width: 20rem;
  padding: 1rem;
  background-color: #272222;
}
.App>.map-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: 2rem;
}
.App>.map-section>.top-bar {
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 1.5rem;
}
.App>.map-section>.top-bar>.drone-id-input-bar {
  width: 20rem;
  display: flex;
}
.App>.map-section>.top-bar>.drone-id-input-bar>input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  background-color: #e8e8e8;
  border-radius: 4px 0 0 4px;
  font-size: 1rem;
  outline: none;
}
.App>.map-section>.top-bar>.drone-id-input-bar>button {
  width: 10rem;
  border: none;
  background-color: #4CAF50;
  border-radius: 0 4px 4px 0;
  font-size: 1rem;
}
.App>.input-section>button {
  cursor: pointer;
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  background-color: #fff;
}
.App>.input-section>button:hover{
  background-color: #e8e8e8;
}